<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="nhibernateSettings" type="Feng.NH.SessionFactoriesConfigSection, Feng.NH"/>
    <section name="AppConfig" type="Feng.Run.AppConfigSection, Feng.Run" />

  </configSections>
  <AppConfig name="AppConfig">
    <product name="jkhd" resource="Hd.Forms, Hd.Forms.Resource" serverPath="file://c:\ServerSetup\" version="2.1.0.0" product="货代管理系统" company="宁波中搜" />
  </AppConfig>

  <connectionStrings>
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataConnectionString" >
  </dataConfiguration>

  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LoginConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Encrypted" requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordStrengthRegularExpression="......" applicationName="jkhd" />
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LoginConnectionString" applicationName="jkhd" />
      </providers>
    </roleManager>
    <machineKey validationKey="6807704AC72B4B79719457D16C136AE0011945565DD89118F232B9B0F335DEF7559A11F7F168AE3BA1F03F902D52EEF92C4100CDD9E54CBA12FFF200ED73AB5B" decryptionKey="FCDBAC65C3FF54AC49CB6E429FB778811BD0976611D60E4A" validation="SHA1" />
  </system.web>


  <log4net debug="false">
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="maximumFileSize" value="10000KB" />
      <param name="maxSizeRollBackups" value="1" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ERROR" />
      <appender-ref ref="rollingFile" />
    </root>

  </log4net>

  <nhibernateSettings>
    <sessionFactories>
      <clearFactories/>
      <sessionFactory name="hd.model.base.config" factoryConfigPath="hd.model.base.config" isDefault="true"/>
      <sessionFactory name="hd.model.ba.config" factoryConfigPath="hd.model.ba.config"/>
      <sessionFactory name="hd.model.jk.config" factoryConfigPath="hd.model.jk.config"/>
      <sessionFactory name="hd.model.jk2.config" factoryConfigPath="hd.model.jk2.config"/>
      <sessionFactory name="hd.model.nmcg.config" factoryConfigPath="hd.model.nmcg.config"/>
      <sessionFactory name="hd.model.kj.config" factoryConfigPath="hd.model.kj.config"/>
      <sessionFactory name="hd.model.cn.config" factoryConfigPath="hd.model.cn.config"/>
      <sessionFactory name="hd.model.fp.config" factoryConfigPath="hd.model.fp.config"/>
      <sessionFactory name="hd.model.cx.config" factoryConfigPath="hd.model.cx.config"/>
      <sessionFactory name="hd.model.ck.config" factoryConfigPath="hd.model.ck.config"/>
      <sessionFactory name="hd.model.ky.config" factoryConfigPath="hd.model.ky.config"/>
      <sessionFactory name="hd.model.px.config" factoryConfigPath="hd.model.px.config"/>
    </sessionFactories>
  </nhibernateSettings>

  <appSettings>
  </appSettings>
</configuration>