<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=.\Feng.Example.sqlite;Version=3;New=false"
      providerName="EntLibContrib.Data.SQLite"  />
    <add name="LoginConnectionString" connectionString="Data Source=.\Feng.Example.sqlite;Version=3;New=false"
      providerName="EntLibContrib.Data.SQLite"  />
  </connectionStrings>
</configuration>