<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
    <!-- <property name="connection.connection_string"></property>-->
    <property name="connection.connection_string_name">DataConnectionString</property>
    <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.use_query_cache">true</property>
    <property name="connection.isolation">ReadCommitted</property>
    <property name="proxyfactory.factory_class">Feng.NH.ByteCode.CacheCastle.ProxyFactoryFactory, Feng.NH.ByteCode.CacheCastle</property>
    <property name="sql_exception_converter">Feng.NH.MsSqlExceptionConverter, Feng.NH</property>

    <property name="show_sql">false</property>
    <property name="generate_statistics">false</property>
    <property name="hbm2ddl.keywords">auto-quote</property>
    <!--
      <property name="adonet.batch_size">10</property>
       <property name="command_timeout">60</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache, Version=2.0.0.1001</property>
      max_fetch_depth=1, 则ManyToOne只取得一层，对于继承的，只取得基类信息。所以有用的信息放在基类。
      <property name="max_fetch_depth">3</property>
      
      <property name="format_sql">true</property>
      <property name="use_sql_comments">true</property>-->

    <mapping resource="Feng.Domain.hbm.xml" assembly="Feng.Model" />
    <mapping resource="Feng.Domain.hbm.xml" assembly="Feng.Application" />
    <mapping resource="Feng.Example.Domain.hbm.xml" assembly="Feng.Example" />
  </session-factory>
</hibernate-configuration>