<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler" />
    <section name="repository" type="Feng.NH.NHibernateConfigSectionHandler, Feng.Base" />
		<section name="ColorSettings" type="Feng.ColorSettings, Feng.Base" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!-- <property name="connection.connection_string"></property>-->
      <property name="connection.connection_string_name">DataConnectionString</property>
      <property name="show_sql">false</property>

      <property name="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</property>
      <property name="cache.use_second_level_cache">True</property>
      <property name="cache.use_query_cache">True</property>
      <property name="query.substitutions">True=1;False=0</property>

      <!--
      <property name="cache.expiration">360000</property>
      <property name="format_sql">true</property>
      <property name="use_sql_comments">true</property>-->
    </session-factory>
  </hibernate-configuration>
	<repository>
		<assemblies>
			<!-- <assembly name="Company.App.Entities" type ="hbm"/> -->
			<assembly name="Feng.Tests" type ="attribute"/>
		</assemblies>
	</repository>
	<ColorSettings Critical="255, 0, 0" Error="255, 255, 0" Warning="200, 200, 20" Information="150, 150, 40" Verbose="100, 100, 80" Disable="112, 112, 112" DisableHalf="192, 192, 192" LocatedRow="255, 128, 255"  />

	<dataConfiguration defaultDatabase="Connection String" />
	<connectionStrings>
		<add name="Connection String" connectionString="Data Source=192.168.0.10,8033;Initial Catalog=Test;User ID=sa;Password=qazwsxedc"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>