<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net,Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />

    <section name="nhibernateSettings" type="Feng.NH.SessionFactoriesConfigSection, Feng.NH"/>

    <section name="AppConfig" type="Feng.Run.AppConfigSection, Feng.Run" />

  </configSections>
  <AppConfig name="AppConfig">
    <product name="Example" version="1.0.0.0" resource ="" serverPath="file://c:\\ServerSetup\\" product="Example" company="Feng" />
  </AppConfig>

  <connectionStrings>
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataConnectionString" >
  </dataConfiguration>
  
  <system.data>
    <DbProviderFactories>
      <add name="EntLibContrib.Data.SQLite" invariant="EntLibContrib.Data.SQLite" description=".EntLibContrib.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  
  <log4net debug="false">
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="maximumFileSize" value="10000KB" />
      <param name="maxSizeRollBackups" value="1" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ERROR" />
      <appender-ref ref="rollingFile" />
    </root>

  </log4net>

  <nhibernateSettings>
    <sessionFactories>
      <clearFactories/>
      <sessionFactory name="example.config" factoryConfigPath="example.config" isDefault="true"/>
    </sessionFactories>
  </nhibernateSettings>

</configuration>