<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="UserManagerProvider" type="Feng.UserManager.ProviderConfigurationSection, Feng.Security" />
	</configSections>
	<securityConfiguration defaultAuthorizationInstance="RuleProvider"
	  defaultSecurityCacheInstance="Caching Store Provider">
		<authorizationProviders>
			<add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="RuleProvider">
				<rules>
					<add expression="R: 系统管理员" name="Print" />
				</rules>
			</add>
		</authorizationProviders>
		<securityCacheProviders>
			<add cacheManagerInstanceName="Cache Manager" defaultSlidingSessionExpirationInMinutes="10"
			  defaultAbsoluteSessionExpirationInMinutes="60" type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Caching Store Provider" />
		</securityCacheProviders>
	</securityConfiguration>
	<connectionStrings>
		<add name="LabChipsConnectionString1" connectionString="data source=192.168.0.10, 8033;initial catalog=aspnetdb;user id=sa;password=qazwsxedc;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<securityCryptographyConfiguration defaultHashInstance="hashprovider"
	  defaultSymmetricCryptoInstance="symprovider">
		<hashProviders>
			<add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			  saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="hashprovider" />
		</hashProviders>
		<symmetricCryptoProviders>
			<add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			  protectedKeyFilename="C:\WINDOWS\system32\SymmetricKeyFile.key"
			  protectedKeyProtectionScope="LocalMachine" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="symprovider" />
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
			  numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
			  type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Cache Manager" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
	<UserManagerProvider defaultProvider="AspNetUserManager">
		<providers>
			<add name="AspNetUserManager" description="User Manager with Asp.Net" type="Feng.UserManager.AspNetProvider, Feng.Security" />
			<add name="WebServiceUserManager" description="User Manager with WebService" webServiceAddress="http://localhost:8811/CredentialsService/AspNetSqlProviderService.asmx" type="Feng.UserManager.WebServiceProvider, Feng.Security" />
		</providers>
	</UserManagerProvider>
	<system.web>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LabChipsConnectionString1" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Hashed" requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordStrengthRegularExpression="......" applicationName="Public" />
			</providers>
		</membership>
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LabChipsConnectionString1" applicationName="Public" />
			</providers>
		</roleManager>
	</system.web>
</configuration>