<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net,Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>

    <section name="UserManagerProvider" type="Feng.UserManager.ProviderConfigurationSection, Feng.Security"/>
    <section name="repository" type="Feng.NH.NHibernateRepositoryMappingSection, Feng.NH"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate"/>

  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description>AdInfoUtils</description>
    </objects>
  </spring>

  <securityCryptographyConfiguration defaultHashInstance="hashprovider" defaultSymmetricCryptoInstance="symprovider">
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" name="hashprovider"/>
    </hashProviders>
    <symmetricCryptoProviders>
      <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="C:\WINDOWS\system32\SymmetricKeyFile.key" protectedKeyProtectionScope="LocalMachine" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" name="symprovider"/>
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Global Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Feng.Windows.Forms.AppMessageExceptionHandler, Feng.Windows.Forms" name="AppMessageException Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Handle and Resume Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception"/>
        </exceptionTypes>
      </add>
      <add name="Notify Policy Error">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Feng.Windows.Forms.AppMessageExceptionHandler, Feng.Windows.Forms" name="AppMessageException Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Notify Policy Info">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Feng.Windows.Forms.AppMessageWarningHandler, Feng.Windows.Forms" name="AppMessageWarningHandler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Wrap Policy">
        <exceptionTypes>
          <!--<add type="NHibernate.HibernateException, NHibernate"
            postHandlingAction="ThrowNewException" name="HibernateException">
            <exceptionHandlers>
              <add exceptionMessage="出现数据库错误！" exceptionMessageResourceType=""
                wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                name="Wrap Handler" />
            </exceptionHandlers>
          </add> -->
          <add type="NHibernate.StaleObjectStateException, NHibernate" postHandlingAction="ThrowNewException" name="StaleObjectStateException">
            <exceptionHandlers>
              <add exceptionMessage="出现多人操作，数据将自动刷新，请刷新后请重试！" exceptionMessageResourceType="" wrapExceptionType="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" name="Wrap Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=192.168.0.10,8033;Initial Catalog=jkhd2;User ID=sa;Password=qazwsxedc" providerName="System.Data.SqlClient"/>
    <add name="LoginConnectionString" connectionString="Data Source=192.168.0.10,8033;Initial Catalog=aspnetdb;User ID=sa;Password=qazwsxedc" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataConnectionString">
  </dataConfiguration>

  <UserManagerProvider defaultProvider="AspNetUserManager">
    <providers>
      <add name="WebServiceUserManager" description="User Manager with WebService" webServiceAddress="http://192.168.0.10/WebLogin/WebLogin.asmx" type="Feng.UserManager.WebServiceProvider, Feng.Security"/>
      <add name="AspNetUserManager" description="User Manager with Asp.Net" type="Feng.UserManager.AspNetProvider, Feng.Security"/>
    </providers>
  </UserManagerProvider>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LoginConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Encrypted" requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordStrengthRegularExpression="......" applicationName="jkhd"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LoginConnectionString" applicationName="jkhd"/>
      </providers>
    </roleManager>
    <machineKey validationKey="6807704AC72B4B79719457D16C136AE0011945565DD89118F232B9B0F335DEF7559A11F7F168AE3BA1F03F902D52EEF92C4100CDD9E54CBA12FFF200ED73AB5B" decryptionKey="FCDBAC65C3FF54AC49CB6E429FB778811BD0976611D60E4A" validation="SHA1"/>
  </system.web>




  <log4net debug="false">
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="maximumFileSize" value="10000KB"/>
      <param name="maxSizeRollBackups" value="5"/>
      <param name="staticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>

    <!--<appender name="NHibernate.Profiler" type="HibernatingRhinos.NHibernate.Profiler.Appender.NHibernateProfilerAppender, 
		HibernatingRhinos.NHibernate.Profiler.Appender">
      <sink value="tcp://127.0.0.1:22897/NHibernateAppenderLoggingSink"/>
    </appender>
    <logger name="NHibernate.Transaction.AdoTransaction">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Loader.Loader">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Event.Default.DefaultLoadEventListener">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Impl.AbstractSessionImpl">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Impl.SessionImpl">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>
    <logger name="NHibernate.Persister.Entity.AbstractEntityPersister">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.Profiler"/>
    </logger>-->

    <root>
      <priority value="ERROR"/>
      <appender-ref ref="rollingFile"/>
    </root>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->

  </log4net>

  <repository>
    <assemblies>
      <clearAssemblies/>
      <assembly name="Feng.Model" type="attribute"/>
    </assemblies>
  </repository>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!-- <property name="connection.connection_string"></property>-->
      <property name="connection.connection_string_name">DataConnectionString</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="connection.isolation">ReadCommitted</property>
      <!--<property name="proxyfactory.factory_class">Feng.NH.ByteCode.CacheCastle.ProxyFactoryFactory, Feng.NH.ByteCode.CacheCastle</property>-->

      <property name="show_sql">false</property>
      <property name="generate_statistics">false</property>
    </session-factory>
  </hibernate-configuration>
  
</configuration>
